@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
img {
  margin: 0;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: hsl(223, 64%, 98%);
}
.lo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.mobile-nav-toggle {
  background-color: transparent;
  background-image: url(images/icon-menu.svg);
  z-index: 2000;
  aspect-ratio: 1;
  border: 0;
  width: 20px;
  height: 20px;
}
.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(images/icon-close.svg);
}
.primary-navigation {
  list-style: none;
  background-color: hsl(223, 64%, 98%);
  position: fixed;
  inset: 0% 0 0 0;
  width: 65%;
  z-index: 1000;
  margin: 0;
  padding-top: 5rem;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}
.primary-navigation[data-visible="true"] {
  transform: translateX(0);
}
/* .log {
  color: hsl(220, 13%, 13%);
} */
.nav-blue{
 color: hsl(220, 13%, 13%);
} 

p.qua {
  border-radius: 8px;
  text-align: center;
  padding-inline: 0.5rem;
  background-color: orangered;
}
.avatarbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}
.checkoutcartimg {
  filter: brightness(100);
}
.checkcart {
  filter: brightness(40%) invert(1);
}
li {
  padding-bottom: 1.5rem;
}
a {
  /* color: hsl(220, 13%, 13%); */
  text-decoration: none;
}
.closecart {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}
div.first {
  display: block;
  height: 315px;
}
.webstyle {
  display: none;
}
.displaypic {
  display: none;
}

.position {
  background-color: white;
  position: absolute;
  top: 12rem;
  padding: 1.2rem;
  border-radius: 50%;
  border: 0;
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}

.imageone {
  background-image: url(images/image-product-1.jpg);
  height: 100%;
  display: block;
}
.imagetwo {
  background-image: url(images/image-product-2.jpg);
  height: 100%;
  display: none;
}
.imagethree {
  background-image: url(images/image-product-3.jpg);
  height: 100%;
  display: none;
}
.imagefour {
  background-image: url(images/image-product-4.jpg);
  height: 100%;
  display: none;
}
.box {
  display: none;
}
article {
  padding: 1.2em;
}
.orange {
  color: hsl(26, 100%, 55%);
}
.margin-btn {
  margin-bottom: 0.5em;
}
.white {
  color: hsl(0, 0%, 100%);
}
h2 {
  font-weight: 900;
}
p.text {
  color: hsl(219, 9%, 45%);
}
div.shrink {
  display: none;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.discount {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 700;
}
.age {
  background-color: hsl(25, 100%, 94%);
  padding: 0.3em;
  border-radius: 10px;
}
.old {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
.addremove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  margin-bottom: 1.8em;
}

.addcart {
  padding: 1em;
  border-radius: 10px;
  border: 0;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  box-shadow: 0px 22px 10px 0px hsl(25, 100%, 94%);
}

.empty {
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  position: absolute;
  top: 6rem;
  right: 1rem;
  max-width: 400px;
  width: 90%;
  display: none;
  box-shadow: 1px 10px 12px 1px hsl(220, 14%, 75%);
}
aside h5 {
  padding: 1.2em;
}
.con-em {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: 100%;
  border-top: 1px solid rgb(211, 205, 205);
}
.cartcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1em;
}
.desc {
  display: flex;
  align-items: center;
  gap: 1rem;
}
aside .smal {
  height: 4rem;
  border-radius: 5px;
}
.trash {
  height: 24px;
  width: 15px;
}
.cheq {
  padding: 0.8em 1em;
}
.checkout {
  border-radius: 10px;
  border: 0;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1em;
}
.web {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 60rem) {
  .avatar:hover {
    outline: 2px solid orangered;
  }
  button:hover{
    cursor: pointer;
  }
  /* .left:hover,
  .right:hover,
  .cart:hover,
  .avatar:hover,
  a:hover,
  .minus:hover,
  .plus:hover,
  .addcart:hover,
  .checkcart:hover {
    cursor: pointer;
  } */
  .checkcart:hover,
  .checkcart:active {
    filter: brightness(10%);
  }
  .minus:hover,
  .plus:hover,
  .addcart:hover {
    opacity: 0.5;
  }
  .mobile-nav-toggle {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header {
    background-color: transparent;
    border-bottom: 1px solid hsl(223, 64%, 98%);
  }
  .display {
    display: none;
  }
  nav {
    display: block;
    width: 50%;
  }
  .primary-navigation {
    display: flex;
    position: relative;
    background-color: transparent;
    transform: translateX(0%);
    padding: 0;
  }
  li {
    padding: 0;
  }
  a {
    padding-inline: 1rem;
    opacity: 0.5;
  }
  a:hover {
    opacity: 1;
    border-bottom: 3px solid orangered;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .oo {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .imageonee {
    background-image: url(images/image-product-1.jpg);
    display: none;
  }

  .imagetwoo {
    background-image: url(images/image-product-2.jpg);
    display: none;
  }
  .imagethreee {
    background-image: url(images/image-product-3.jpg);
    display: none;
  }
  .imagefourr {
    background-image: url(images/image-product-4.jpg);
    display: none;
  }
  .web {
    display: flex;
    gap: 1rem;
  }
  .web button,
  .lightbox button {
    border: 0;
    padding: 0;
    border-radius: 10px;
  }
  .web img {
    max-width: 68px;
  }
  .webstyle {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  .displaypic {
    display: block;
    border-radius: 10px;
    transition: transform 500ms ease-in-out;
    margin-bottom: 1em;
  }
  .displaypic img {
    border-radius: 10px;
    width: 100%;
    height: 320px;
  }

  div.shrink {
    display: block;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  .shrink img {
    height: 350px;
    border-radius: 10px;
    width: 100%;
  }
  .leftu {
    left: 0;
    top: 9rem;
  }
  .rightu {
    right: 0;
    top: 9rem;
  }
  .web button:focus,
  .lightbox button:focus {
    opacity: 0.5;
    outline: 3px solid orangered;
  }
  div.web img,
  .lightbox img {
    border-radius: 10px;
  }
  div.web img:hover,
  div.lightbox img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  div.web img:active,
  .lightbox button:active {
    outline: 3px solid orangered;
  }
  .overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    gap: 1rem;
  }
  .closebox {
    position: absolute;
    top: 5rem;
    right: 32rem;
  }
  div.first {
    display: none;
  }
  article {
    max-width: 450px;
  }
  .addremove {
    width: 40%;
    margin-bottom: 0;
  }
  .price {
    display: grid;
  }
  .new {
    display: flex;
    gap: 1rem;
  }
}
